 /* ORIGINAL TASK PUPILS STARTED WITH
Full credit to code.org for task */
body{
  background-color: #016e8fff;
}
img {
  width: 150px;
  height: 150px;
}
p{
  color: #ffffff;
  font-family: Georgia;
}